* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    width: 100vw;
    height: 100vh;
    align-content: center;
    justify-content: center;
}

#game {
    width: 720px;
    height: 480px;
    border: 1px solid black;
}

#character {
    position: absolute;
    bottom: 0;
    width: 50px;
    height: 150px;
    background-color: blue;
}

#obstacle {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: red;
}